.column-1 {
  width: 60%;
  float: left;
  padding: 10px;
  /* display: table-cell; */
  background-color: yellow;
  /* width: 50%; */
}

.column-2{
  width: 30%;
  float: right;
  padding: 10px; 
  /* display: table-cell; */
  background-color: green;
  /* width: 50%; */
}

header, footer {
  clear: both;
  padding: 5px;
  background-color: red;
}

.column-1 h2 {
  color: pink;
}

* {
  font-family: helvetica;
}

a:hover {
  color: red;
}
a:visited {
  color: white;
}