section#contact-info {
                        font-size: .8em;

}

section.job {
              background-color: #e9e5dc;
              border-radius: 25px;
              padding: 10px 20px;
              margin: 30px auto;
}

ul.list {
          font-size: .8em;
}


li:hover {
    color: hotpink;
}

li#testid {
            color: green;
}
